 .u-section-1 {
  background-image: url("images/back.3.png");
  background-position: 50% 0%;
}

.u-section-1 .u-sheet-1 {
  min-height: 211px;
}

.u-section-1 .u-image-1 {
  width: 570px;
  height: 95px;
  margin: 116px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 256px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 144px;
    margin-bottom: 17px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 196px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 142px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 90px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 168px;
  }

  .u-section-1 .u-image-1 {
    height: 57px;
    margin-top: 111px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 55px;
}

.u-section-2 .u-text-1 {
  font-weight: 400;
  font-size: 2.25rem;
  margin: 0 0 16px;
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 102px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
    width: auto;
    margin-top: 12px;
    margin-bottom: 12px;
  }
} .u-section-3 {
  background-image: url("images/layered-waves-haikei.4.png");
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 333px;
}

.u-section-3 .u-image-1 {
  width: 570px;
  height: 306px;
  margin: 14px 0 0 auto;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: -179px auto 141px 13px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 265px;
  }

  .u-section-3 .u-image-1 {
    width: 470px;
    height: 252px;
    margin-top: 20px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: -165px;
    margin-bottom: 60px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 219px;
  }

  .u-section-3 .u-image-1 {
    width: 360px;
    height: 193px;
  }

  .u-section-3 .u-text-1 {
    margin-top: -186px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 180px;
  }

  .u-section-3 .u-image-1 {
    width: 334px;
    height: 179px;
    margin-top: 1px;
  }

  .u-section-3 .u-text-1 {
    margin-top: -152px;
    margin-right: 257px;
    margin-bottom: 49px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 218px;
  }

  .u-section-3 .u-image-1 {
    width: 305px;
    height: 163px;
    margin-top: 63px;
    margin-right: auto;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
    margin: -209px 14px 60px;
  }
} .u-section-4 {
  background-image: url("images/layered-waves-haikei.5.png");
  background-position: 50% 50%;
}

.u-section-4 .u-sheet-1 {
  min-height: 308px;
}

.u-section-4 .u-image-1 {
  width: 276px;
  height: 278px;
  margin: 15px 77px 0 auto;
}

.u-section-4 .u-image-2 {
  width: 325px;
  height: 244px;
  margin: -261px auto 0 28px;
}

.u-section-4 .u-text-1 {
  font-weight: normal;
  font-size: 2.25rem;
  margin: -148px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 295px;
  }

  .u-section-4 .u-image-1 {
    margin-top: 17px;
    margin-right: 69px;
  }

  .u-section-4 .u-image-2 {
    margin-top: -244px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: -158px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 305px;
  }

  .u-section-4 .u-image-1 {
    margin-top: 34px;
    margin-right: 0;
  }

  .u-section-4 .u-image-2 {
    margin-top: -261px;
  }

  .u-section-4 .u-text-1 {
    margin-top: -283px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 240px;
  }

  .u-section-4 .u-image-1 {
    width: 205px;
    height: 207px;
  }

  .u-section-4 .u-image-2 {
    width: 241px;
    height: 181px;
    margin-top: -194px;
    margin-left: 0;
  }

  .u-section-4 .u-text-1 {
    margin-top: -203px;
  }
}

@media (max-width: 575px) {
   .u-section-4 {
    background-position: 63.12% 50%;
  }

  .u-section-4 .u-sheet-1 {
    min-height: 395px;
  }

  .u-section-4 .u-image-1 {
    width: 176px;
    height: 177px;
    margin-top: 64px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-4 .u-image-2 {
    width: 223px;
    height: 167px;
    margin-top: -23px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.875rem;
    margin-top: -364px;
  }
} .u-section-5 {
  background-image: url("images/layered-waves-haikei.4.png");
  background-position: 50% 50%;
}

.u-section-5 .u-sheet-1 {
  min-height: 335px;
}

.u-section-5 .u-image-1 {
  width: 261px;
  height: 320px;
  margin: 0 auto 0 72px;
}

.u-section-5 .u-image-2 {
  width: 206px;
  height: 290px;
  margin: -305px 108px 0 auto;
}

.u-section-5 .u-text-1 {
  font-weight: normal;
  font-size: 2.25rem;
  margin: -171px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 321px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-image-1 {
    margin-top: 1px;
    margin-left: 15px;
  }

  .u-section-5 .u-image-2 {
    margin-right: 0;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-top: -290px;
    margin-bottom: 267px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 358px;
  }

  .u-section-5 .u-image-1 {
    margin-top: 34px;
    margin-left: 0;
  }

  .u-section-5 .u-image-2 {
    margin-top: -320px;
  }

  .u-section-5 .u-text-1 {
    margin-top: -288px;
    margin-bottom: 60px;
  }
}

@media (max-width: 575px) {
   .u-section-5 {
    background-position: 38.99% 50%;
  }

  .u-section-5 .u-sheet-1 {
    min-height: 317px;
  }

  .u-section-5 .u-image-1 {
    width: 159px;
    height: 195px;
    margin-top: 25px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-5 .u-image-2 {
    width: 138px;
    height: 195px;
    margin-top: -97px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.875rem;
    margin-top: -278px;
    margin-left: 0;
  }
} .u-section-6 {
  background-image: url("images/layered-waves-haikei.5.png");
  background-position: 50% 50%;
}

.u-section-6 .u-sheet-1 {
  min-height: 540px;
}

.u-section-6 .u-image-1 {
  width: 340px;
  height: 510px;
  margin: 1px auto 0 0;
}

.u-section-6 .u-text-1 {
  font-weight: normal;
  font-size: 2.25rem;
  margin: -482px auto 0;
}

.u-section-6 .u-image-2 {
  width: 175px;
  height: 459px;
  margin: -27px 104px 0 auto;
}

.u-section-6 .u-image-3 {
  width: 211px;
  height: 211px;
  margin: -410px auto 0;
}

.u-section-6 .u-image-4 {
  width: 237px;
  height: 237px;
  margin: 1px auto;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 445px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 512px;
  }

  .u-section-6 .u-image-1 {
    margin-top: 2px;
    margin-left: -50px;
  }

  .u-section-6 .u-text-1 {
    width: auto;
    margin-top: -483px;
  }

  .u-section-6 .u-image-2 {
    margin-top: -31px;
    margin-right: 0;
  }

  .u-section-6 .u-image-3 {
    width: 136px;
    height: 136px;
    margin-top: -363px;
  }

  .u-section-6 .u-image-4 {
    width: 171px;
    height: 171px;
    margin-top: 57px;
    margin-bottom: 15px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 425px;
  }

  .u-section-6 .u-image-1 {
    width: 283px;
    height: 424px;
    margin-top: 1px;
  }

  .u-section-6 .u-text-1 {
    margin-top: -395px;
  }

  .u-section-6 .u-image-2 {
    width: 139px;
    height: 365px;
  }

  .u-section-6 .u-image-3 {
    width: 116px;
    height: 116px;
    margin-top: -270px;
  }

  .u-section-6 .u-image-4 {
    margin-top: 0;
    margin-bottom: 6px;
  }
}

@media (max-width: 575px) {
   .u-section-6 {
    background-position: 71.03% 0%;
  }

  .u-section-6 .u-sheet-1 {
    min-height: 397px;
  }

  .u-section-6 .u-image-1 {
    width: 230px;
    height: 345px;
    margin-top: 0;
  }

  .u-section-6 .u-text-1 {
    font-size: 1.875rem;
    margin-top: -312px;
    margin-right: 27px;
  }

  .u-section-6 .u-image-2 {
    width: 111px;
    height: 291px;
    margin-top: 29px;
  }

  .u-section-6 .u-image-3 {
    width: 94px;
    height: 94px;
    margin-top: -192px;
  }

  .u-section-6 .u-image-4 {
    width: 93px;
    height: 93px;
    margin-top: 6px;
    margin-bottom: 12px;
  }
} .u-section-7 {
  background-image: url("images/layered-waves-haikei.4.png");
  background-position: 50% 50%;
}

.u-section-7 .u-sheet-1 {
  min-height: 406px;
}

.u-section-7 .u-image-1 {
  width: 570px;
  height: 345px;
  margin: 61px 0 0 auto;
}

.u-section-7 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: -225px auto 60px 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 347px;
  }

  .u-section-7 .u-image-1 {
    width: 470px;
    height: 285px;
  }

  .u-section-7 .u-text-1 {
    width: auto;
    margin-top: -291px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 279px;
  }

  .u-section-7 .u-image-1 {
    width: 360px;
    height: 218px;
  }

  .u-section-7 .u-text-1 {
    margin-top: -224px;
    margin-right: 340px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 203px;
  }

  .u-section-7 .u-image-1 {
    width: 298px;
    height: 181px;
    margin-top: 22px;
  }

  .u-section-7 .u-text-1 {
    margin-top: -148px;
    margin-right: 160px;
    margin-bottom: 44px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 334px;
  }

  .u-section-7 .u-image-1 {
    height: 206px;
    margin-top: 128px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-text-1 {
    font-size: 2.25rem;
    margin: -302px 18px 60px;
  }
} .u-section-8 {
  background-image: url("images/layered-waves-haikei.5.png");
  background-position: 50% 50%;
}

.u-section-8 .u-sheet-1 {
  min-height: 535px;
}

.u-section-8 .u-image-1 {
  width: 329px;
  height: 529px;
  margin: 1px -24px 0 auto;
}

.u-section-8 .u-image-2 {
  width: 331px;
  height: 243px;
  margin: -510px auto 0;
}

.u-section-8 .u-image-3 {
  width: 435px;
  height: 473px;
  margin: -232px auto 0 -31px;
}

.u-section-8 .u-image-4 {
  width: 381px;
  height: 271px;
  margin: -240px 305px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 756px;
  }

  .u-section-8 .u-image-2 {
    margin-left: 100px;
  }

  .u-section-8 .u-image-3 {
    margin-top: 20px;
    margin-left: 100px;
  }

  .u-section-8 .u-image-4 {
    margin-top: -271px;
    margin-right: 19px;
    margin-bottom: 1px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 614px;
  }

  .u-section-8 .u-image-1 {
    width: 227px;
    height: 366px;
    margin-right: 48px;
  }

  .u-section-8 .u-image-2 {
    width: 257px;
    height: 189px;
    margin-top: 38px;
    margin-left: 40px;
  }

  .u-section-8 .u-image-3 {
    width: 338px;
    height: 368px;
    margin-top: -595px;
    margin-left: 0;
  }

  .u-section-8 .u-image-4 {
    margin-top: -23px;
    margin-right: 0;
    margin-bottom: -2px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 476px;
  }

  .u-section-8 .u-image-1 {
    width: 179px;
    height: 288px;
    margin-right: 21px;
  }

  .u-section-8 .u-image-2 {
    width: 206px;
    height: 152px;
    margin-top: 0;
    margin-right: 21px;
    margin-left: auto;
  }

  .u-section-8 .u-image-3 {
    width: 260px;
    height: 283px;
    margin-top: -441px;
  }

  .u-section-8 .u-image-4 {
    width: 270px;
    height: 192px;
    margin: 0 auto 1px 0;
  }
}

@media (max-width: 575px) {
   .u-section-8 {
    background-position: 67.02% 50%;
  }

  .u-section-8 .u-sheet-1 {
    min-height: 360px;
  }

  .u-section-8 .u-image-1 {
    width: 119px;
    height: 191px;
    margin-top: 4px;
    margin-right: 0;
  }

  .u-section-8 .u-image-2 {
    width: 216px;
    height: 158px;
    margin-top: 4px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-8 .u-image-3 {
    height: 185px;
    width: 170px;
    margin-top: -350px;
  }

  .u-section-8 .u-image-4 {
    height: 130px;
    width: 183px;
    margin: -19px 0 58px auto;
  }
} .u-section-9 {
  background-image: url("images/layered-waves-haikei.4.png");
  background-position: 50% 50%;
}

.u-section-9 .u-sheet-1 {
  min-height: 437px;
}

.u-section-9 .u-image-1 {
  width: 502px;
  height: 397px;
  margin: 0 0 0 auto;
}

.u-section-9 .u-image-2 {
  width: 570px;
  height: 377px;
  margin: -337px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-9 .u-sheet-1 {
    min-height: 425px;
  }

  .u-section-9 .u-image-1 {
    margin-top: 25px;
  }

  .u-section-9 .u-image-2 {
    width: 470px;
    height: 311px;
    margin-top: -332px;
    margin-bottom: 25px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 397px;
  }

  .u-section-9 .u-image-1 {
    margin-top: 0;
    margin-right: -50px;
  }

  .u-section-9 .u-image-2 {
    width: 360px;
    height: 238px;
    margin-top: -307px;
    margin-bottom: 69px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 306px;
  }

  .u-section-9 .u-image-1 {
    width: 377px;
    height: 298px;
    margin-top: 4px;
  }

  .u-section-9 .u-image-2 {
    width: 316px;
    height: 210px;
    margin-top: -254px;
    margin-bottom: 48px;
    margin-left: -35px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 484px;
  }

  .u-section-9 .u-image-1 {
    margin-top: 186px;
    margin-right: -37px;
  }

  .u-section-9 .u-image-2 {
    height: 225px;
    width: 340px;
    margin-top: -480px;
    margin-bottom: 60px;
    margin-left: -14px;
  }
}.u-section-10 .u-sheet-1 {
  min-height: 160px;
}

.u-section-10 .u-text-1 {
  margin: 51px auto 0;
}

.u-section-10 .u-btn-1 {
  border-style: none none solid;
  font-size: 1.5rem;
  text-transform: none;
  letter-spacing: normal;
  font-weight: normal;
  margin: 22px 0 14px auto;
  padding: 0;
}

@media (max-width: 991px) {
  .u-section-10 .u-text-1 {
    width: auto;
    margin-top: 36px;
  }

  .u-section-10 .u-btn-1 {
    margin-top: 37px;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-sheet-1 {
    min-height: 104px;
  }

  .u-section-10 .u-text-1 {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-10 .u-btn-1 {
    margin-top: 9px;
    margin-bottom: 9px;
  }
}