 .u-section-1 {
  background-image: url("images/back.3-28.png");
  background-position: 50% 0%;
}

.u-section-1 .u-sheet-1 {
  min-height: 290px;
}

.u-section-1 .u-image-1 {
  width: 162px;
  height: 165px;
  margin: 109px 217px 0 auto;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  margin: -116px auto 60px 137px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 274px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -109px;
    margin-bottom: 43px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 268px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 103px;
    margin-right: 43px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: -115px;
    margin-bottom: 50px;
    margin-left: 80px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-top: -112px;
    margin-bottom: 46px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 260px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 95px;
    margin-right: 0;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    margin-top: -99px;
    margin-bottom: 60px;
  }
} .u-section-2 {
  background-image: url("images/Slide8.PNG");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 50vw;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 586px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 461px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 360px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 246px;
  }
} .u-section-3 {
  background-image: url("images/Slide91.PNG");
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 50vw;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 585px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 461px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 360px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 249px;
  }
} .u-section-4 {
  background-image: url("images/Slide10.PNG");
  background-position: 50% 50%;
}

.u-section-4 .u-sheet-1 {
  min-height: 50vw;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 586px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 461px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 360px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 249px;
  }
} .u-section-5 {
  background-image: url("images/Slide11.PNG");
  background-position: 50% 50%;
}

.u-section-5 .u-sheet-1 {
  min-height: 50vw;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 586px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 461px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 360px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 249px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 80px;
}

.u-section-6 .u-btn-1 {
  border-style: none none solid;
  font-size: 1.5rem;
  margin: 20px 0 20px auto;
  padding: 0;
}